<header class="primary-header flex">

    <div>
        <a class="<%= path === '/' ? 'active' : '' %>" href="/">
            <img src="/img/logo.jpg" alt="Normal Logo" class="logo">
        </a>
    </div>
    <div class="flex">
          <ul id="primary-navigation" 
            data-visible="false"
            class="primary-navigation flex">
              <% if (isAuthenticated) { %>
              
              <li class="main-header__item">
                  <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
                
              <li class="main-header__item">
                  <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
              <li class="main-header__item">
                  <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product
                  </a>
              <li class="main-header__item">
                  <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products
                  </a>
              <% } %>
              
            </ul>
            <button class="mobile-nav-toggle" 
            aria-expanded="false"
            aria-controls="primary-navigation">
                <span class="sr-only">Menu</span>
            </button>
              <ul class="flex ul_auth">
                <% if (!isAuthenticated) { %>
                    <li class="main-header__item">
                        <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
                    </li>
                    <li class="main-header__item">
                        <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
                    </li>
                <% } else { %>
                    <li class="main-header__item">
                        <form action="/logout" method="post">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button type="submit">Logout</button>
                        </form>
                    </li>
                <% } %>
              </ul>
              <button id="dark-mode-toggle"
                  class="dark-mode-toggle"
                  aria-label="toggle dark mode"
                  >
                  <img src="/img/dark_mode.svg" alt="dark_mode" id="dark_mode">
                  <img src="/img/light_mode.svg" alt="light_mode" id="light_mode">
              </button>  
    </div>
  </header>