<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (orders.length <= 0) { %>
            <div class="centered">
                <h1>Nothing there!</h1>
            </div>
            <% } else { %>
                <ul class="orders">
                    <% orders.forEach(order => { %>
                        <li class="orders__item">
                            <h1>
                                Order - #<%= order._id %> - <a href="/orders/<%= order._id %>" class="a-link__invoice">Invoice</a>
                            </h1>
                            <ul class="orders__products">
                                <% order.products.forEach(p => { %>
                                    <li class="orders__products-item">
                                        <%= p.product.title %> (<%= p.quantity %>)
                                    </li>
                                <% }); %>
                            </ul>
                            <div class="center">
                                <form action="/delete-order" method="POST">
                                    <input type="hidden" value="<%= order._id %>" name="orderId">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button class="btn danger" type="submit">Delete</button>
                                </form>
                            </div>
                        </li>
                    <% }); %>
                    <div class="center pad-checkout">
                        <a href="/checkout" class="btn">Checkout</a>
                    </div>
                </ul>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>