<%- include('../includes/head.ejs') %>
    
</head>

<body>
   <%- include('../includes/navigation.ejs') %>
    <main>
      <div class="center">
        <h3>You Sign up successfully.</h3>
        <h4>Please click the button below to Complete Verification Your Email.</h4>
      </div>
        <form class="login-form" action="/account-verified" method="POST">
          <div class="center">
            <input type="hidden" name="userId" value="<%= userId %>">
            <input type="hidden" name="isVerifiedToken" value="<%= isVerifiedToken %>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Verify Account</button>
          </div>
        </form>
    </main>
<%- include('../includes/end.ejs') %>